body {
    background: #e5e5e5;
}

.img__checked {
    display: none;
}

.card__summary {
    background-color: #fff;
    border-style: dashed;
}

.card {
    border-radius: 1.25rem;
}

.card__menu_noodle_1 {
    background-color: #fff3d0;
}
.card__menu_noodle_2 {
    background-color: #d7e9ff;
}
.card__menu_noodle_3 {
    background-color: #ffd7e6;
}
.card__menu_noodle_4 {
    background-color: #ffd7d7;
}
.card__menu_noodle_5 {
    background-color: #d7fffc;
}
.card__menu_noodle_6 {
    /* background-color: #d7fffc; */
}

.card__name {
    margin-top: 4px;
    font-size: 19px;
}
.card__menu_noodle_6 .card__name {
    margin-top: 4px;
    font-size: 16px;
}
.card img {
    border-radius: 1.25rem;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card:has(input[type="radio"]:checked) {
    border: 3px solid #b0ef8f;
}

.card:has(input[type="checkbox"]:checked) {
    border: 3px solid #b0ef8f;
}


.card:has(input[type="radio"]:checked) .img__checked {
    display: block;
}
.card:has(input[type="checkbox"]:checked) .img__checked {
    display: block;
}

.card:not(img) {
    padding-top: 4px;;
}

.img__checked {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}